# Ignore macOS system files
.DS_Store

# Ignore temporary files
*.tmp

# Ignore logs
*.log

# Ignore .worktrees folder
.worktrees/

# Ignore local mise.local
mise.local.toml

.orchestrator/

# Jujutsu
.jj/
.pk/
