keybinds {
  session {
    unbind "q"
    bind "Ctrl q" { Quit; }
  }

  shared_except "locked" {
    unbind "Ctrl q"
  }
}


ui {
  pane_frames {
    hide_session_name true
  }
}

theme "tokyo-night-dark"
default_layout "compact"
default_mode "locked"
