keybinds {
  session {
    unbind "q"
    bind "Ctrl q" { Quit; }
  }

  shared_except "locked" {
    unbind "Ctrl q"
  }
}


ui {
  pane_frames {
    hide_session_name true
  }
}

pane_frames false

theme "catppuccin-macchiato"
